<div class="container">
    <br>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <button class="btn btn-success btn-sm float-right" (click)="getNavigation('create', '')">New product</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <table #productsTable class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of ProductsList; let i =index;">
                        <td>{{i + 1}}</td>
                        <td>{{product.p_name}}</td>
                        <td>{{product.p_description}}</td>
                        <td>$ {{product.p_price}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" (click)="getNavigation('view', product.p_id)"><i class="material-icons">visibility</i></button>
                            <button type="button" class="btn btn-warning ml-1 btn-sm" (click)="getNavigation('update', product.p_id)"><i class="material-icons">create</i></button>
                            <button type="button" class="btn btn-danger ml-1 btn-sm" (click)="deleteProduct(product.p_id)"><i class="material-icons">delete_sweep</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>